<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chat - NS Project</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
  
  {{ fontawesome_html() }}

</head>

<body>

  <div class="d-flex" id="wrapper">

	<!-- Sidebar -->
	<div class="border-right" id="sidebar-wrapper">
		
	  <div class="list-group" id="conversation_list">
		<!-- <a href="#" class="list-group-item list-group-item-action ">Dashboard</a> -->
		{% for row in conversations %}
		  <div href="{{ row[3] }}" class="list-group-item list-group-item-action " style="cursor: pointer;" onclick="print_messages({{row[0]}})">
			<span class="author">{{ row[1] }}</span> <br>
			{% if row[2] == None %}
				<span class="last_msg">No Record</span>
			{% else %}
				<span class="last_msg">{{ row[2] }}</span>
			{% endif %}
			
		  </div>
		   
		{% endfor %}

		<div href="#" class="list-group-item list-group-item-action " style="cursor: pointer;" >
			<span class="author"> </span> <br>
			<span class="last_msg">No Record</span>
		  </div>
	  </div>

	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper" >

	  <nav class="navbar navbar-expand-lg  fixed-top " id="header-nav">
		<!-- <button class="btn btn-primary" id="menu-toggle"><span class="fa fa-bars"></span></button>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button> -->
		<div class="buttons-heading">
		  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#see-contacts" title="See Contacts"><span class="fa fa-user-friends"></span></button> 
		  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-contacts" title="Add Contact"><span class="fa fa-user-plus"></span></button>
		  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-conversations" title="Create Conversation"><span class="fa fa-people-carry"></span></button>
		</div>
		

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ current_user.name }}
			  </a>
			  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Edit</a>
				<!-- <a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div> -->
				<a class="dropdown-item" href="/logout">Logout</a>
			  </div>
			</li>
		  </ul>
		</div>
	  </nav>

	  <div class="container-fluid" >
	   
	  </div>

	  <div class="chat-main" >
		<ol class="chat" id="messages">
			
		  <li class="other">
			  <div class="avatar"><img src="{{ url_for('static', filename='im/icon.jpg') }}" draggable="false"/></div>
			<div class="msg">
				<p>Start a conversation!</p>
			  <p><emoji class="funny"/></p>
			  <time>Now :)</time>
			</div>
		  </li>

		</ol>
				
	  </div>
	  <!-- <input class="textarea" type="text" placeholder="Type here!"/> -->
	  <div class="input-group input-footer">
		<input id="new_msg" type="text" class="form-control textarea" placeholder="Type Here!" aria-label="Msg" aria-describedby="basic-addon2">
		<div class="input-group-append">
		  <button class="btn btn-secondary chat-btn" type="button" onclick="send_message()">Send</button>
		</div>
	  </div>

	  
	</div>
	<!-- /#page-content-wrapper -->

  </div>
  
  <!-- /#wrapper -->

  	<!-- modals -->
  	<div class="modal fade" id="see-contacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">See Contacts</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					
					{% for row in contacts %}
						<li class="list-group-item disabled">
							{{ row[3] }}
							<span class="badge badge-primary badge-pill float-right">{{ row[2] }}</span>
						</li>
					
					{% endfor %}
				</ul>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add-contacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Add Contacts</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="contact_body">
				<ul class="list-group">
					
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <span class="input-group-text" id="basic-addon1"><span class="fa fa-user"></span></span>
						</div>
						<input type="text" class="form-control" placeholder="Contact Username" aria-label="Username" aria-describedby="basic-addon1" id="add_contact_input">
					</div>
					  

				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="add_contact()">Add Contact</button>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add-conversations" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Add Conversation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="conv_body">
					
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <span class="input-group-text" id="basic-addon1"><span class="fa fa-user"></span></span>
						</div>
						<input type="text" class="form-control" placeholder="Conversation title" aria-label="Username" aria-describedby="basic-addon1" id="add_conversation_title">
					</div>
					  
					<div class="contact_list">
						<ul class="list-group" id="contact_list_group">
							{% for row in contacts %}
								<li class="list-group-item" id="{{row[2]}}" style="cursor: pointer;" onclick="add_user_conversation('{{row[2]}}')">
									{{ row[3] }}
									<!-- <span class="float-right"><input type="checkbox" class="custom-control-input" id="{{row[2]}}"></span> -->
								</li>
							
							{% endfor %}
						</ul>
					</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="add_conversation()">Add Conversation</button>
			</div>
			</div>
		</div>
	</div>

	<!-- modals end -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
	<script>
	  $("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
	  });

	  $(function () {
		  $('[data-toggle="tooltip"]').tooltip()
	  })
	</script>

	<script>
		function print_messages(conv_id)
		{
			var link = "get_msgs?conv_id=" + conv_id.toString()
			$.get( link, function( data ) {
				$("#messages").empty();

				data_rows = data.split("\n");

				if ( data_rows.length <= 1 )
				{
					row_str = "<li class=\"other\">" +
							 "<div class=\"avatar\"><img src=\"{{ url_for('static', filename='im/icon.jpg') }}\" " + "draggable=\"false\"></div>" +
							"<div class=\"msg\">" +
							"<span class=\"sender\">" + "Bot" + "</span>" +
							"<p>" + "Start a conversation!" + "</p>" +
							"<time>" + "Now :)" + "</time>" + "</li>"

					$("#messages").append(row_str);   
				}

				else {
					for (row of data_rows)
					{
						row_cols = row.split(";");
						if ( row_cols.length > 1)
						{
							if (row_cols[0] == {{ current_user.id }}) {
								row_str = "<li class=\"self\">";
							}
							else {
								row_str = "<li class=\"other\">";
							}

							row_str += "<div class=\"avatar\"><img src=\"{{ url_for('static', filename='im/icon.jpg') }}\" " + "draggable=\"false\"></div>" +
							"<div class=\"msg\">" +
							"<span class=\"sender\">" + row_cols[1] + "</span>" +
							"<p>" + row_cols[3] + "</p>" +
							"<time>" + row_cols[5] + "</time>" + "</li>"

							$("#messages").append(row_str);       
						}
				
					}					
				}
				$(".chat-main").scrollTop($(".chat-main").height()); 
			});
			$(".chat-main").scrollTop($(".chat-main").height()); 
		}
	</script>
 
	<script>
		setInterval(function() {
			$.get( "get_msgs", function( data ) {
				$("#messages").empty();

				data_rows = data.split("\n");
				if ( data_rows.length <= 1 )
				{
					row_str = "<li class=\"other\">" +
								"<div class=\"avatar\"><img src=\"{{ url_for('static', filename='im/icon.jpg') }}\" " + "draggable=\"false\"></div>" +
							"<div class=\"msg\">" +
							"<span class=\"sender\">" + "Bot" + "</span>" +
							"<p>" + "Start a conversation!" + "</p>" +
							"<time>" + "Now :)" + "</time>" + "</li>"

					$("#messages").append(row_str);   
					return;
				}

				else {
					for (row of data_rows)
					{
						row_cols = row.split(";");
						if ( row_cols.length > 1)
						{
							if (row_cols[0] == {{ current_user.id }}) {
								row_str = "<li class=\"self\">";
							}
							else {
								row_str = "<li class=\"other\">";
							}

							row_str += "<div class=\"avatar\"><img src=\"{{ url_for('static', filename='im/icon.jpg') }}\" " + "draggable=\"false\"></div>" +
							"<div class=\"msg\">" +
							"<span class=\"sender\">" + row_cols[1] + "</span>" +
							"<p>" + row_cols[3] + "</p>" +
							"<time>" + row_cols[5] + "</time>" + "</li>"

							$("#messages").append(row_str);       
						}
				
					}					
				}
				
			});
		}, 10000);
	</script> 

	<script>
		function send_message()
		{
			var input_text = $('#new_msg').val();
			var link = "send_msg?msg=" + input_text
			
			$.get( link, function( data ) {
				console.log(data)
			});

			$('#new_msg').val("");
			$(".chat-main").scrollTop($(".chat-main").height()); 
		}
	</script>

	<script>
		function add_contact()
		{
			var input_text = $('#add_contact_input').val();
			var link = "add_contact?uname=" + input_text
			
			$.get( link, function( data ) {
				console.log(data)
			});
			$('#add_contact_input').val("");
			location.reload();
		}
	</script>

	<script>
		function add_user_conversation(uname)
		{
			var id = "#" + uname;
			if ($( id ).hasClass( "list-group-item-success" ))
			{
				$(id).removeClass( "list-group-item-success" );
			}
			else 
			{
				$(id).addClass( "list-group-item-success" );
			}
		}

		function add_conversation()
		{
			var input_ids = new Array();
			$("#contact_list_group li").each(function(){
				input_ids.push($(this));
			});
			
			var users = ""
			input_ids.forEach(user => {
				if ($( user ).hasClass( "list-group-item-success" ))
				{
					users += $(user).prop('id') + ';';
				}
			});

			
			var title = $('#add_conversation_title').val();
			var link = "add_conversation?title=" + title + "&unames=" + users;
			console.log(link);
			
			$('#add_conversation_title').val("");
			input_ids.forEach(user => {
				if ($( user ).hasClass( "list-group-item-success" ))
				{
					$( user ).removeClass( "list-group-item-success" );
				}
			});

			$.get( link, function( data ) {
				console.log('yey')
			});

		}

		
	</script>
	

</body>

</html>
