<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta name="description" content="Login - NS Project">
    <title>Login - NS Project</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">

    <style>
        body {
                /* background: #007bff; */
                background-image: url("{{ url_for('static',filename='im/icon.jpg') }}");
                /* background: linear-gradient(to right, #0062E6, #33AEFF); */
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h2 class="text-center">Login</h2>
                
                 <form class="form-signin" action = "/login" method = "POST">
                  <div class="form-label-group input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" name="user_name" class="form-control" placeholder="User Name" required autofocus>
                  </div>
      
                  <div class="form-label-group input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                      </div>
                      <input type="password" name="password" class="form-control" placeholder="Password" required>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                  <hr class="my-4">
                  <p class="card-text text-center">Copyright &copy; ...</p>
              </form>

  
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <!-- <img src="{{ url_for('static',filename='im/tds111.png') }}" class="img-fluid mb-3" style="max-width: 20vh" alt="Responsive image"> -->
                  <p>AGU 2020 <br> Network Security Class Project</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    
  </body>
</html>
